In [1]:
import pandas as pd
emne = pd.read_csv("emne.csv")
emne = emne[(emne['canvas_term_id'] > 1)&(emne['status'] == 'active')]
emne.head()

,canvas_course_id,course_id,integration_id,short_name,long_name,canvas_account_id,account_id,canvas_term_id,term_id,status,start_date,end_date,course_format,canvas_blueprint_course_id,blueprint_course_id,created_by_sis
13,9209,UE_203_MAS3-302_1_2019_HØST_1,NaN,MAS3-302-1 19H,MAS3-302-1 19H Matematikk 3,440,ST_0203300300,40,2019_HØST-2020_VÅR,active,NaN,NaN,NaN,NaN,NaN,True
23,11959,hvl200130-e2-akv,NaN,Skjønnsuke sos17 og vpl17,Fellesuke om skjønnsmessige vurderinger - SOS1...,430,ST_0203100300,77,2020_VÅR,active,NaN,NaN,NaN,NaN,NaN,True
28,22383,UE_203_MARV553_1_2023_VÅR_1,NaN,MARV553-1 23V,MARV553-1 23V Samarbeid og konflikthåndtering ...,430,ST_0203100300,210,2023_VÅR,active,NaN,NaN,NaN,NaN,NaN,True
29,16414,UE_203_ØAA112_1_2021_HØST_1,NaN,ØAA112-1 21H,"ØAA112-1 21H Lærende ledelse, organisasjon og ...",443,ST_0203400200,197,2021_HØST,active,NaN,NaN,NaN,NaN,NaN,True
38,21032,UA_203_MGBSA201_1_2023_VÅR_1_1,NaN,MGBSA201 Bergen (1),MGBSA201 Bergen (1),12157,UE_203_MGBSA201_1_2023_VÅR_1,210,2023_VÅR,active,NaN,NaN,NaN,NaN,NaN,True

In [19]:
terminar = pd.read_csv("terminar_rydda.csv", sep=';')
terminar.head()

,id,name,start_at,end_at,created_at,workflow_state,grading_period_group_id,sis_term_id,sis_import_id,startår,sluttår,starttermin,slutttermin,Start,Slutt
0,16,2016 HØST,NaN,NaN,27.03.2018 15:31,active,NaN,2016_HØST,1380.0,2016.0,2016.0,HØST,HØST,"2016,5","2016,5"
1,18,2016 HØST-2017 HØST,NaN,NaN,28.03.2018 03:07,active,NaN,2016_HØST-2017_HØST,6373.0,2016.0,2017.0,HØST,HØST,"2016,5","2017,5"
2,19,2016 HØST-2018 HØST,NaN,NaN,28.03.2018 03:07,active,NaN,2016_HØST-2018_HØST,6373.0,2016.0,2018.0,HØST,HØST,"2016,5","2018,5"
3,23,2016 HØST-2020 VÅR,NaN,NaN,28.03.2018 03:07,active,NaN,2016_HØST-2020_VÅR,1753.0,2016.0,2020.0,HØST,VÅR,"2016,5",2020
4,6,2017 HØST,NaN,NaN,18.11.2017 02:01,active,NaN,2017_HØST,14402.0,2017.0,2017.0,HØST,HØST,"2017,5","2017,5"

In [33]:
aktuelle_terminar= terminar[terminar['Slutt'] <="2023,5"]['id']

In [34]:
aktuelle_emne = emne[emne['canvas_term_id'].isin(aktuelle_terminar)]

In [36]:
aktuelle_emne.to_csv('aktuelle_emne.csv', index=False)